.text-private {
    color: red;
}

.text-public {
    color: green;
}
.btn-add {
    color: white;
    background-color: black;

    border-radius: .357rem;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
}

.btn-danger {
    color: #FFF;
    background-color: #dc3545;
    border-color: #dc3545;

    border-radius: .357rem;
    border: none;
    font-weight: 600;
    padding: 5px 20px;
}
.btn-danger:hover {
    color: #FFF;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #FFF;
    background-color: #dc3545;
    border-color: #dc3545;
}

.button-group {
    display: flex;
}

.button-group > * {
    margin-right: 10px;
}
/* Modal (fullscreen) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* Modal content (centered image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#alertsContainer {
    position: fixed;
    top: 20px; /* Cách trên cùng 20px */
    right: 20px; /* Cách bên phải 20px */
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Đảm bảo thông báo nổi trên tất cả các thành phần khác */
}

.alert {
    padding: 15px;
    border-radius: 4px;
    background-color: red;
    border: 1px solid red;
    color: white;
    opacity: 1;
    transition: opacity 1s ease-out;
    max-width: 300px; /* Giới hạn chiều rộng */
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Thêm hiệu ứng đổ bóng */
}

.alert-danger {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.alert-success {
    background-color: green;
    border: 1px solid green;
    color: white;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.help.is-danger {
    color: red;
    font-weight: bold; /* Nếu bạn muốn chữ đậm */
}
